<h1 class="archive-title">Tags</h1>


<ul class="tag_box inline list-unstyled">
  <% site.tags.sort('name').each(function(item){ %>
  <li class="archive-tag"><a href="<%=config.url %>/<%= item.path %>"><%= item.name %><span> (<%= item.posts.length %>)</span></a></li>
  <% }); %>
  </ul>
