.archive-title {
  font-family: "Source Serif Pro", serif; }
  .archive-title a {
    color: #323232;
    text-decoration: none; }
    .archive-title a:hover {
      color: #f37100; }

.archive-year {
  margin-top: 20px;
  font-family: "Source Serif Pro", serif; }
  .archive-year a {
    color: #323232;
    text-decoration: none; }
    .archive-year a:hover {
      color: #f37100; }

.archive-month {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: "Source Serif Pro", serif; }
  .archive-month a {
    color: #323232;
    text-decoration: none; }
    .archive-month a:hover {
      color: #f37100; }

.archive-tag {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: lighter; }
  .archive-tag a {
    color: #323232;
    text-decoration: none; }
    .archive-tag a:hover {
      color: #f37100; }
