.post {
  margin-bottom: 70px; }

.posted-on {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 30px; }

.tag, .category {
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter; }
  .tag a, .category a {
    color: #323232; }
    .tag a:hover, .category a:hover {
      color: #f37100; }

.post-title {
  font-family: "Source Serif Pro", serif; }

.post-title a {
  color: black; }
  .post-title a:hover {
    color: #f37100;
    text-decoration: none; }

.post-body {
  padding: 0 30px 20px 30px; }

.post-content img {
  margin: 15px 0;
  display: block;
  max-width: 100%;
  height: auto; }

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6, .post-content th, .post-content dl {
  color: black;
  font-family: "Source Serif Pro", serif; }

.post-content p, .post-content dd, .post-content li, .post-content td {
  color: #323232;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em; }

.post-content table thead th, .post-content table tbody tr td:not(.code, .gutter) {
  padding: 1em;
  border-bottom: 1px solid #323232; }

.post-content a, .post-content a:hover {
  color: #f37100; }

.post-footer {
  margin-top: 20px; }
  .post-footer h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    display: inline-block; }

.share-link, .comment-link {
  color: #323232; }
  .share-link:hover, .comment-link:hover {
    color: #f37100;
    text-decoration: none; }
  .share-link:focus, .comment-link:focus {
    color: #323232;
    text-decoration: none; }

.share-icon {
  font-size: 1.2em;
  margin-right: 5px;
  margin-left: 5px; }

.comments {
  margin-top: 20px; }

.comment-link-wrapper {
  float: right; }

.code {
  padding: 0px;
  vertical-align: baseline; }
  .code .highlight.line.marked, .code .line.marked {
    color: #f37100; }

.video-container {
  position: relative;
  padding-top: 56.9%;
  height: 0;
  overflow: hidden; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0; }

blockquote.pullquote.left {
  float: left;
  border: none;
  margin: 0 10px;
  width: 40%; }

blockquote.pullquote.right {
  float: right;
  border: none;
  margin: 0 10px;
  width: 40%; }
