.archive-title {
  font-family: "Proza Libre";
  font-size: 1.5em; }
  .archive-title a {
    color: #313131;
    text-decoration: none; }
    .archive-title a:hover {
      color: #F17105; }

.archive-year {
  font-size: 1.5em;
  margin-top: 20px;
  font-family: "Proza Libre"; }
  .archive-year a {
    color: #313131;
    text-decoration: none; }
    .archive-year a:hover {
      color: #F17105; }

.archive-month {
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 0px;
  font-family: "Proza Libre"; }
  .archive-month a {
    color: #313131;
    text-decoration: none; }
    .archive-month a:hover {
      color: #F17105; }

.archive-tag {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Proza Libre";
  font-size: 16px;
  font-weight: lighter; }
  .archive-tag a {
    color: #313131;
    text-decoration: none; }
    .archive-tag a:hover {
      color: #F17105; }

html {
  border-left: 10px solid #F17105; }

body {
  background: #FDFDFD; }

span.glyphicon {
  margin-right: 5px; }

.post-list {
  margin-top: 50px; }

a.read-more {
  color: #F17105;
  text-decoration: none; }
  a.read-more:hover {
    text-decoration: underline; }

.pagination {
  display: block;
  width: 200px;
  margin: -50px auto 0; }

.pager li a {
  color: #F17105; }

.doc-footer {
  font-family: "Crimson Text";
  font-weight: lighter;
  font-size: 16px;
  clear: both;
  display: block;
  text-align: center;
  margin-top: 60px; }
  .doc-footer p a {
    color: #F17105; }
    .doc-footer p a:hover {
      color: #F17105; }
  .doc-footer ul li {
    margin: 10px; }
    .doc-footer ul li a {
      color: #F17105; }
      .doc-footer ul li a:hover {
        color: #F17105; }

header {
  display: inline-block; }
  header .blog-title {
    font-family: "Proza Libre";
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0; }
    header .blog-title .title-trim {
      color: #F17105; }
    header .blog-title a {
      color: #313131;
      text-decoration: none; }
      header .blog-title a:hover {
        color: #F17105; }
  header .tagline {
    font-family: "Crimson Text";
    display: inline-block;
    margin-left: 20px; }

nav {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  display: inline-block;
  font-family: "Crimson Text"; }
  @media (max-width: 999px) {
    nav {
      margin-top: 5px;
      margin-left: 15px;
      text-align: center;
      float: none; } }
  nav a {
    color: #F17105;
    font-size: 18px;
    margin-left: 5px; }
    nav a:hover {
      color: #F17105; }

.post {
  margin-bottom: 70px; }

.posted-on {
  font-family: "Proza Libre";
  font-size: 1.1em;
  margin-top: 30px; }

.post-details {
  margin-bottom: 25px; }

.tag, .category {
  font-family: "Crimson Text"; }
  .tag a, .category a {
    color: #313131; }
    .tag a:hover, .category a:hover {
      color: #F17105; }

.post-title {
  font-family: "Crimson Text";
  font-size: 2.2em; }

.post-title a {
  color: #313131; }
  .post-title a:hover {
    color: #F17105;
    text-decoration: none; }

.post-body {
  padding: 0 30px 20px 30px; }

.post-content img {
  margin: 15px 0;
  display: block;
  max-width: 100%;
  height: auto; }

.post-content h1, .post-content h2, .post-content h4, .post-content h5, .post-content h6, .post-content th, .post-content dl {
  color: #313131;
  font-family: "Crimson Text"; }

.post-content h3 {
  color: #313131;
  font-family: "Proza Libre";
  font-size: 1.3em;
  margin-top: 0px;
  margin-bottom: 25px; }

.post-content p, .post-content dd, .post-content li, .post-content td {
  color: #313131;
  font-family: "Crimson Text";
  font-size: 1.1em; }

.post-content p {
  margin-bottom: 25px;
  line-height: 1.75; }

.post-content table thead tr th, .post-content table tbody tr td:not(.code):not(.gutter):not(.blob-num):not(.blob-code) {
  padding: 1em;
  border-bottom: 1px solid #313131; }

.post-content a, .post-content a:hover {
  color: #F17105; }

cite {
  margin-left: 5px;
  margin-right: 5px; }

.code {
  padding: 0px;
  vertical-align: baseline; }
  .code .highlight.line.marked, .code .line.marked {
    color: #cc2255; }

.line {
  height: 20px; }

.video-container {
  position: relative;
  padding-top: 56.9%;
  height: 0;
  overflow: hidden; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0; }

blockquote.pullquote.left {
  float: left;
  border: none;
  margin: 0 10px;
  width: 40%; }

blockquote.pullquote.right {
  float: right;
  border: none;
  margin: 0 10px;
  width: 40%; }

.post-footer {
  margin-top: 20px; }
  .post-footer h5 {
    font-family: "Proza Libre";
    font-weight: lighter;
    display: inline-block; }

.share-link, .comment-link {
  color: #313131; }
  .share-link:hover, .comment-link:hover {
    color: #F17105;
    text-decoration: none; }
  .share-link:focus, .comment-link:focus {
    color: #313131;
    text-decoration: none; }

.share-icon {
  font-size: 1.2em;
  margin-right: 5px;
  margin-left: 5px; }

.comments {
  margin-top: 20px; }

.comment-link-wrapper {
  float: right; }
