.archive-title {
  font-family: "Source Serif Pro", serif; }
  .archive-title a {
    color: #323232;
    text-decoration: none; }
    .archive-title a:hover {
      color: #f37100; }

.archive-year {
  margin-top: 20px;
  font-family: "Source Serif Pro", serif; }
  .archive-year a {
    color: #323232;
    text-decoration: none; }
    .archive-year a:hover {
      color: #f37100; }

.archive-month {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: "Source Serif Pro", serif; }
  .archive-month a {
    color: #323232;
    text-decoration: none; }
    .archive-month a:hover {
      color: #f37100; }

.archive-tag {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: lighter; }
  .archive-tag a {
    color: #323232;
    text-decoration: none; }
    .archive-tag a:hover {
      color: #f37100; }

html {
  border-left: 8px solid #f37100; }

body {
  background: white; }

span.glyphicon {
  margin-right: 5px; }

.post-list {
  margin-top: 50px; }

a.read-more {
  color: #f37100;
  text-decoration: none; }
  a.read-more:hover {
    text-decoration: underline; }

.pagination {
  display: block;
  width: 200px;
  margin: -50px auto 0; }

.pager li a {
  color: #f37100; }

.doc-footer {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  clear: both;
  display: block;
  text-align: center;
  margin-top: 60px; }
  .doc-footer p a {
    color: #f37100; }
    .doc-footer p a:hover {
      color: #f37100; }
  .doc-footer ul li {
    margin: 10px; }
    .doc-footer ul li a {
      color: #f37100; }
      .doc-footer ul li a:hover {
        color: #f37100; }

header {
  display: inline-block; }
  header .blog-title {
    font-family: "Source Serif Pro", serif;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0; }
    header .blog-title a {
      color: black; }
      header .blog-title a:hover {
        color: #f37100;
        text-decoration: none; }
  header .tagline {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    display: inline-block;
    margin-left: 20px; }

nav {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter; }
  @media (max-width: 999px) {
    nav {
      margin-top: 5px;
      margin-left: 15px;
      text-align: center;
      float: none; } }
  nav a {
    color: #f37100;
    font-size: 18px;
    margin-left: 5px; }
    nav a:hover {
      color: #f37100; }

.post {
  margin-bottom: 70px; }

.posted-on {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 30px; }

.tag, .category {
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter; }
  .tag a, .category a {
    color: #323232; }
    .tag a:hover, .category a:hover {
      color: #f37100; }

.post-title {
  font-family: "Source Serif Pro", serif; }

.post-title a {
  color: black;
  font-family: "Source Serif Pro", serif; }
  .post-title a:hover {
    color: #f37100;
    text-decoration: none; }

.post-content h2 {
  font-size: 20px;
  color: black;
  font-family: "Source Serif Pro", serif; }

.post-content img {
  margin: 15px 0; }

.post-body {
  padding: 0 30px 20px 30px; }
  .post-body p {
    color: #323232;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1em; }
    .post-body p a, .post-body p a:hover {
      color: #f37100; }

.post-footer {
  margin-top: 20px; }
  .post-footer h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    display: inline-block; }

.share-link {
  color: #323232; }
  .share-link:hover {
    color: #f37100;
    text-decoration: none; }
  .share-link:focus {
    color: #323232;
    text-decoration: none; }

.share-icon {
  font-size: 1.2em;
  margin-right: 5px;
  margin-left: 5px; }
