    <div class="row">
        <% if (item.photos.length){ %>
            <% item.photos.forEach(function(photo){ %>
                <div class="col-md-3 col-xs-6">
                    <a href="#" data-featherlight="<%- photo %>">
                        <img src="<%- photo %>" class="img-thumbnail img-responsive" />
                    </a>
                </div>
            <% }); %>
        <% } %>
    </div>
