<header>
<h1 class='blog-title'><a href="<%= config.root %>">scraps of <span class='title-trim'>poetry</span> and <span class='title-trim'>madness</span></a></h1>

<h4 class='tagline'>a blog by <a class="author-link" href="http://jlincolndennis.com" target="_blank">J Lincoln Dennis</a></h4>

</header>
