@import 'colors';
@import 'fonts';

.archive-title {
  font-family: $sans;
  font-size: 1.5em;

  a {
    color: $black;
    text-decoration: none;


    &:hover {
      color: $trim;
    }
  }
}

.archive-year {
  font-size: 1.5em;
  margin-top: 20px;
  font-family: $sans;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $trim;
    }
  }
}

.archive-month {
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 0px;
  font-family: $sans;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $trim;
    }
  }
}

.archive-tag {
  margin-top: 10px;
  margin-left: 10px;
  font-family: $sans;
  font-size: 1em;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $trim;
    }
  }
}
