@import 'colors';
@import 'fonts';

html {
  border-left: 8px solid $trim;
}

body {
  background: $white;
}

span.glyphicon{
  margin-right: 5px;
}

.post-list {
  margin-top: 50px;
}

a.read-more {
  color: $trim;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pagination {
  display: block;
  width: 200px;
  margin: -50px auto 0;
}
.pager li a{
  color: $trim;


}

.doc-footer {
  font-family: $sans;
  font-weight: lighter;
  font-size: 16px;
  clear: both;
  display: block;
  text-align: center;
  margin-top: 60px;

  p a {
    color: $trim;

    &:hover {
      color: $trim;
    }
  }

  ul {
    li {
      margin: 10px;
      a {
        color: $trim;

        &:hover {
          color: $trim;
        }
      }
    }
  }
}
