@import 'colors';
@import 'fonts';

html {
  position: relative;
  min-height: 100%;
}

body {
  border-left: 10px solid $trim;
  background: $white;
  padding-bottom: 200px;

}

span.glyphicon{
  margin-right: 5px;
}

.post-list {
  margin-top: 50px;
}

a.read-more {
  font-family: $sans;
  color: $trim;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pagination {
  display: block;
  width: 200px;
  margin: -50px auto 0;
}
.pager li a{
  color: $trim;
}


.doc-footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  clear: both;
  font-family: $serif;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;

  p a {
    color: $trim;

    &:hover {
      color: $trim;
    }
  }

  ul {
    li {
      margin: 10px;
      a {
        color: $trim;

        &:hover {
          color: $trim;
        }
      }
    }
  }
}
