@import 'colors';
@import 'fonts';

header {
  display: inline-block;

  .blog-title {
    font-family: $sans;
    display: inline-block;
    margin-left:20px;
    margin-bottom: 0;

    .title-trim {
      color: $trim;
    }

    a {
      color: $black;

      &:hover {
        color: $trim;
        text-decoration: none;
      }
    }
  }

  .tagline {
    font-family: $serif;
    display: inline-block;
    margin-left:20px;
  }
}

nav {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  display: inline-block;
  font-family: $serif;

  @media (max-width:999px){
    margin-top: 5px;
    margin-left: 15px;
    text-align: center;
    float: none;
  }

  a {
    color: $trim;
    font-size: 18px;
    margin-left: 5px;

    &:hover {
      color: $trim;
    }
  }
}
