@import 'colors';
@import 'fonts';

.post {
  margin-bottom: 100px;
}

.posted-on {
  font-family: $sans;
  font-size: 1.1em;
  margin-top: 30px;
}

.post-details {
  margin-bottom: 25px;
}

.tag, .category {
  font-family: $serif;
  a {
    color: $black;

    &:hover {
      color: $trim;
      text-decoration: none;
    }
  }
}

.post-title {
  font-family: $serif;
  font-size: 2.2em;
}

.post-title a {
  color: $black;

  &:hover {
    color: $trim;
    text-decoration: none;
  }
}

.post-body {
  padding: 0 30px 20px 30px;
}

.post-content {
  img {
    margin: 15px 0;
    display: block;
    max-width: 100%;
    height: auto;
  }

  h1, h2, h4, h5, h6, th, dl {
    color: $black;
    font-family: $serif;
  }

  h3 {
    color: $black;
    font-family: $sans;
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 25px;

  }

  p, dd, li, td {
    color: $black;
    font-family: $serif;
    font-size: 1.1em;
  }

  p {
    margin-bottom: 25px;
    line-height: 1.75;
  }

  table thead tr th, table tbody tr td:not(.code):not(.gutter):not(.blob-num):not(.blob-code) {
    padding: 1em;
    border-bottom: 1px solid $black;
  }

  a, a:hover {
    color: $trim
  }
}

cite {
  margin-left: 5px;
  margin-right: 5px;
}

.code {
  padding: 0px;
  vertical-align: baseline;
  .highlight.line.marked, .line.marked {
    color: rgb(204, 34, 85);
  }
}

.line {
  height: 20px;
}

.video-container {
  position: relative;
  padding-top: 56.9%;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0;
  }
}

blockquote.pullquote.left {
    float: left;
    border: none;
    margin: 0 10px;
    width: 40%;
}

blockquote.pullquote.right {
    float: right;
    border: none;
    margin: 0 10px;
    width: 40%;
}

.post-footer {
  margin-top: 20px;

  h5 {
    font-family: $sans;
    font-weight: lighter;
    display: inline-block;
  }
}

.share-link, .comment-link {
  color: $black;

  &:hover {
    color: $trim;
    text-decoration: none;
  }

  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.share-icon {
  font-size: 1.2em;
  margin-right: 5px;
  margin-left: 5px;
}

.comments {
  margin-top: 20px;
}

.comment-link-wrapper {
  float: right;
}
