@import 'colors';
@import 'fonts';

.post {
  margin-bottom: 70px;
}

.posted-on {
  font-family: $sans;
  margin-top: 30px;
}

.tag, .category {
  margin-top: 20px;
  font-family: $sans;
  font-weight: lighter;
  a {
    color: $black;

    &:hover {
      color: $orange
    }
  }
}

.post-title {
  font-family: $serif;
}

.post-title a {
  color: black;
  font-family: $serif;

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}
.post-content {
  h2 {
  font-size: 20px;
  color: black;
  font-family: $serif;
}
img {
  margin: 15px 0;
}
}
.post-body {
  padding: 0 30px 20px 30px;
  p {
  color: $black;
  font-family: $sans;
  font-size: 1.1em;

  a, a:hover {
    color: $orange
  }
  }
}

.post-footer {
  margin-top: 20px;

  h5 {
    font-family: $sans;
    font-weight: lighter;
    // font-style: italic;
    display: inline-block;
  }
  // ul li a {
  //   margin-right: 10px;
  //   color: $orange;
  // }
}

.share-link {
  color: $black;

  &:hover {
    color: $orange;
    text-decoration: none;
  }

  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.share-icon {
  font-size: 1.2em;
  margin-right: 5px;
  margin-left: 5px;
}
